/* styles.css */
@import "~bootstrap/dist/css/bootstrap.min.css";

.fullscreen-prompt {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  color: white;
}

.quiz-container {
  padding: 20px;
}

.question-container {
  margin-bottom: 20px;
}

.timer {
  margin-bottom: 20px;
  font-size: 20px;
}
